div.subtitle {margin-top: -2px;
font-size: 12px;
line-height: 12px;
font-weight: bold;
font-style: italic}

.img-responsive{
	display: block;
max-width: 100%;
height: auto
}
 .popover {
      width: 200px;
    }
.page[data-page="index"]::before {
  background: url(../img/emergency3x.jpg)no-repeat center center fixed;
   -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  content: "";
  opacity: 0.4;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1; 

}
.content-block .tools {
    width: 100%;
    height: 40px;
    background-color: #f9f9f9;
    border-bottom: 1px solid #dadada;
    border-top: 1px solid #dadada;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: -5px
}

.content-block .tools .tool {
    width: 50px;
    height: 100%;
    text-align: center;
    line-height: 40px
}




.logo{background:none; text-shadow: 0 1px 2px rgba(0,0,0,0.2);}
.footable-details.table, .footable.table{margin-bottom: 0px;}
.img-fluid{height: auto;
max-width: 100%}
.refresh-link.refreshing .fa-refresh {
  -webkit-animation-name: rotate;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: rotate;
  -moz-animation-duration: 1s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  animation-name: rotate;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes rotate {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.center{text-align: center;}
.pull-right{float: right;}
.pull-left{float: left;}
.list-block .item-title{overflow: visible;}
.footable .form-control.drug{width:100%;}
.navbar a.link {color:#ffffff !important;}
.chip.choc{font-size: 16px;height:35px;}
.fa-lg{line-height: 1em;}
.theme-bluegray2 .button:not(.button-fill) {
  color: #607d8b;
}
.button.active{background-color: #607d8b;}
.button{border: 1px solid #607d8b;}
.color-brown{color:#795548;}
.color-orange{color:#ff9800;}
.color-purple{color:#673ab7;}
.color-bluegray{color:#607d8b;}
.theme-bluegray .navbar .button:not(.button-fill),
.theme-bluegray.navbar .button:not(.button-fill),
.theme-bluegray .toolbar .button:not(.button-fill),
.theme-bluegray.toolbar .button:not(.button-fill),
.theme-bluegray .subnavbar .button:not(.button-fill),
.theme-bluegray.subnavbar .button:not(.button-fill) {
  color: #fff;
}
.theme-bluegray .button.button-fill {
  background: #607d8b;
  color: #fff;
}
html:not(.watch-active-state) .theme-bluegray .button.button-fill:active,
.theme-bluegray .button.button-fill.active-state {
  background: #455A64;
}
.progressbar.theme-bluegray,
.theme-bluegray .progressbar {
  background-color: rgba(96, 125, 139, 0.5);
}
.progressbar.theme-bluegray span,
.theme-bluegray .progressbar span {
  background-color: #607d8b;
}
.progressbar-infinite.theme-bluegray,
.theme-bluegray .progressbar-infinite {
  background-color: rgba(96, 125, 139, 0.5);
}
.progressbar-infinite.theme-bluegray:after,
.theme-bluegray .progressbar-infinite:after,
.progressbar-infinite.theme-bluegray:before,
.theme-bluegray .progressbar-infinite:before {
  background-color: #607d8b;
}
.color-bluegray i.icon,
i.icon.color-bluegray {
  color: #607d8b;
}
i.icon-next.color-bluegray,
i.icon-next.theme-bluegray {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20fill%3D'%23607d8b'%20width%3D'24'%20height%3D'24'%20viewBox%3D'0%200%2024%2024'%3E%3Cpath%20d%3D'M10%206L8.59%207.41%2013.17%2012l-4.58%204.59L10%2018l6-6z'%2F%3E%3Cpath%20d%3D'M0%200h24v24H0z'%20fill%3D'none'%2F%3E%3C%2Fsvg%3E");
}
i.icon-prev.color-bluegray,
i.icon-prev.theme-bluegray {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20fill%3D'%23607d8b'%20width%3D'24'%20height%3D'24'%20viewBox%3D'0%200%2024%2024'%3E%3Cpath%20d%3D'M15.41%207.41L14%206l-6%206%206%206%201.41-1.41L10.83%2012z'%2F%3E%3Cpath%20d%3D'M0%200h24v24H0z'%20fill%3D'none'%2F%3E%3C%2Fsvg%3E");
}
i.icon-back.color-bluegray,
i.icon-back.theme-bluegray {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20width%3D'24'%20height%3D'24'%20viewBox%3D'0%200%2024%2024'%3E%3Cpath%20d%3D'M20%2011H7.83l5.59-5.59L12%204l-8%208%208%208%201.41-1.41L7.83%2013H20v-2z'%20fill%3D'%23607d8b'%2F%3E%3C%2Fsvg%3E");
}
i.icon-forward.color-bluegray,
i.icon-forward.theme-bluegray {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20width%3D'24'%20height%3D'24'%20viewBox%3D'0%200%2024%2024'%3E%3Cpath%20d%3D'M12%204l-1.41%201.41L16.17%2011H4v2h12.17l-5.58%205.59L12%2020l8-8z'%20fill%3D'%23607d8b'%2F%3E%3C%2Fsvg%3E");
}
i.icon-bars.color-bluegray,
i.icon-bars.theme-bluegray {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20width%3D'24'%20height%3D'24'%20viewBox%3D'0%200%2024%2024'%3E%3Cpath%20d%3D'M3%2018h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z'%20fill%3D'%23607d8b'%2F%3E%3C%2Fsvg%3E");
}
.theme-bluegray a,
.theme-bluegray .card a {
  color: #607d8b;
}
.theme-bluegray .navbar,
.navbar.theme-bluegray,
.theme-bluegray .toolbar,
.toolbar.theme-bluegray,
.theme-bluegray .subnavbar,
.subnavbar.theme-bluegray,
.theme-bluegray .searchbar,
.searchbar.theme-bluegray {
  background-color: #607d8b;
}
.theme-bluegray .label-switch input[type="checkbox"]:checked + .checkbox,
.label-switch.theme-bluegray input[type="checkbox"]:checked + .checkbox {
  background-color: rgba(96, 125, 139, 0.5);
}
.theme-bluegray .label-switch input[type="checkbox"]:checked + .checkbox:after,
.label-switch.theme-bluegray input[type="checkbox"]:checked + .checkbox:after {
  background-color: #607d8b;
}
.theme-bluegray label.label-checkbox i.icon-form-checkbox:after,
label.label-checkbox.theme-bluegray i.icon-form-checkbox:after {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20fill%3D'%23ffffff'%20width%3D'24'%20height%3D'24'%20viewBox%3D'0%200%2024%2024'%3E%3Cpath%20d%3D'M9%2016.17L4.83%2012l-1.42%201.41L9%2019%2021%207l-1.41-1.41z'%2F%3E%3C%2Fsvg%3E");
}
.theme-bluegray label.label-checkbox input[type="checkbox"]:checked + .item-media i.icon-form-checkbox,
label.label-checkbox.theme-bluegray input[type="checkbox"]:checked + .item-media i.icon-form-checkbox,
.theme-bluegray label.label-checkbox input[type="radio"]:checked + .item-media i.icon-form-checkbox,
label.label-checkbox.theme-bluegray input[type="radio"]:checked + .item-media i.icon-form-checkbox,
.theme-bluegray label.label-checkbox input[type="checkbox"]:checked ~ .item-after i.icon-form-checkbox,
label.label-checkbox.theme-bluegray input[type="checkbox"]:checked ~ .item-after i.icon-form-checkbox,
.theme-bluegray label.label-checkbox input[type="radio"]:checked ~ .item-after i.icon-form-checkbox,
label.label-checkbox.theme-bluegray input[type="radio"]:checked ~ .item-after i.icon-form-checkbox,
.theme-bluegray label.label-checkbox input[type="checkbox"]:checked ~ .item-inner i.icon-form-checkbox,
label.label-checkbox.theme-bluegray input[type="checkbox"]:checked ~ .item-inner i.icon-form-checkbox,
.theme-bluegray label.label-checkbox input[type="radio"]:checked ~ .item-inner i.icon-form-checkbox,
label.label-checkbox.theme-bluegray input[type="radio"]:checked ~ .item-inner i.icon-form-checkbox {
  border-color: #607d8b;
  background-color: #607d8b;
}
.theme-bluegray label.label-radio i.icon-form-radio:after,
label.label-radio.theme-bluegray i.icon-form-radio:after {
  background-color: #607d8b;
}
.theme-bluegray label.label-radio input[type="checkbox"]:checked + .item-media i.icon-form-radio,
label.label-radio.theme-bluegray input[type="checkbox"]:checked + .item-media i.icon-form-radio,
.theme-bluegray label.label-radio input[type="radio"]:checked + .item-media i.icon-form-radio,
label.label-radio.theme-bluegray input[type="radio"]:checked + .item-media i.icon-form-radio,
.theme-bluegray label.label-radio input[type="checkbox"]:checked ~ .item-after i.icon-form-radio,
label.label-radio.theme-bluegray input[type="checkbox"]:checked ~ .item-after i.icon-form-radio,
.theme-bluegray label.label-radio input[type="radio"]:checked ~ .item-after i.icon-form-radio,
label.label-radio.theme-bluegray input[type="radio"]:checked ~ .item-after i.icon-form-radio,
.theme-bluegray label.label-radio input[type="checkbox"]:checked ~ .item-inner i.icon-form-radio,
label.label-radio.theme-bluegray input[type="checkbox"]:checked ~ .item-inner i.icon-form-radio,
.theme-bluegray label.label-radio input[type="radio"]:checked ~ .item-inner i.icon-form-radio,
label.label-radio.theme-bluegray input[type="radio"]:checked ~ .item-inner i.icon-form-radio {
  border-color: #607d8b;
}
.theme-bluegray label.label-radio input[type="checkbox"]:checked + .item-media i.icon-form-radio:after,
label.label-radio.theme-bluegray input[type="checkbox"]:checked + .item-media i.icon-form-radio:after,
.theme-bluegray label.label-radio input[type="radio"]:checked + .item-media i.icon-form-radio:after,
label.label-radio.theme-bluegray input[type="radio"]:checked + .item-media i.icon-form-radio:after,
.theme-bluegray label.label-radio input[type="checkbox"]:checked ~ .item-after i.icon-form-radio:after,
label.label-radio.theme-bluegray input[type="checkbox"]:checked ~ .item-after i.icon-form-radio:after,
.theme-bluegray label.label-radio input[type="radio"]:checked ~ .item-after i.icon-form-radio:after,
label.label-radio.theme-bluegray input[type="radio"]:checked ~ .item-after i.icon-form-radio:after,
.theme-bluegray label.label-radio input[type="checkbox"]:checked ~ .item-inner i.icon-form-radio:after,
label.label-radio.theme-bluegray input[type="checkbox"]:checked ~ .item-inner i.icon-form-radio:after,
.theme-bluegray label.label-radio input[type="radio"]:checked ~ .item-inner i.icon-form-radio:after,
label.label-radio.theme-bluegray input[type="radio"]:checked ~ .item-inner i.icon-form-radio:after {
  background-color: #607d8b;
}
.theme-bluegray .form-checkbox input[type="checkbox"]:checked ~ i,
.form-checkbox.theme-bluegray input[type="checkbox"]:checked ~ i {
  border-color: #607d8b;
  background-color: #607d8b;
}
.theme-bluegray .form-radio input[type="radio"]:checked ~ i,
.form-radio.theme-bluegray input[type="radio"]:checked ~ i {
  border-color: #607d8b;
}
.theme-bluegray .form-radio input[type="radio"]:checked ~ i:after,
.form-radio.theme-bluegray input[type="radio"]:checked ~ i:after {
  background-color: #607d8b;
}
.theme-bluegray .form-checkbox .ripple-wave,
.theme-bluegray .form-radio .ripple-wave {
  background: rgba(96, 125, 139, 0.5);
}
.theme-bluegray .focus-state .label,
.theme-bluegray .focus-state .floating-label {
  color: #607d8b;
}
.theme-bluegray .item-input-field.focus-state:after,
.theme-bluegray .input-field.focus-state:after,
.theme-bluegray .item-input-field.not-empty-state:after,
.theme-bluegray .input-field.not-empty-state:after {
  background: #607d8b;
}
.theme-bluegray .picker-calendar-day.picker-calendar-day-today span {
  color: #607d8b;
}
.theme-bluegray .picker-calendar-day.picker-calendar-day-selected span {
  background-color: #607d8b;
  color: #fff;
}
.theme-bluegray .picker-calendar-day.picker-calendar-day-has-events span:after {
  background-color: #607d8b;
}
.theme-bluegray .picker-header {
  background-color: #607d8b;
}
.theme-bluegray .modal-button {
  color: #607d8b;
}
.theme-bluegray .timeline-horizontal .timeline-item-date,
.timeline-horizontal.theme-bluegray .timeline-item-date {
  background-color: #607d8b;
}
.theme-bluegray .timeline-year-title,
.theme-bluegray .timeline-month-title {
  background-color: #607d8b;
}
.theme-bluegray .statusbar-overlay {
  background-color: #263238;
}
.theme-bluegray .data-table .data-table-header-selected,
.data-table.theme-bluegray .data-table-header-selected {
  background: rgba(96, 125, 139, 0.1);
}
.theme-bluegray .data-table .data-table-title-selected,
.data-table.theme-bluegray .data-table-title-selected {
  color: #607d8b;
}
.swiper-pagination.color-bluegray .swiper-pagination-bullet-active,
.theme-bluegray .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #607d8b;
}
.swiper-pagination.color-bluegray .swiper-pagination-progressbar,
.theme-bluegray .swiper-pagination .swiper-pagination-progressbar {
  background-color: #607d8b;
}
.swiper-pagination.swiper-pagination-progress.bg-bluegray {
  background-color: rgba(96, 125, 139, 0.25);
}
.swiper-button-next.color-bluegray,
.swiper-container-rtl .swiper-button-prev.color-bluegray,
.theme-bluegray .swiper-button-next,
.theme-bluegray .swiper-container-rtl .swiper-button-prev {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23607d8b'%2F%3E%3C%2Fsvg%3E");
}
.swiper-button-prev.color-bluegray,
.swiper-container-rtl .swiper-button-next.color-bluegray,
.theme-bluegray .swiper-button-prev,
.theme-bluegray .swiper-container-rtl .swiper-button-next {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23607d8b'%2F%3E%3C%2Fsvg%3E");
}
.theme-bluegray .floating-button,
.theme-bluegray .speed-dial-buttons a,
.floating-button.theme-bluegray,
.speed-dial-buttons a.theme-bluegray {
  color: #fff;
  background: #607d8b;
}
html:not(.watch-active-state) .theme-bluegray .floating-button:active,
html:not(.watch-active-state) .theme-bluegray .speed-dial-buttons a:active,
html:not(.watch-active-state) .floating-button.theme-bluegray:active,
html:not(.watch-active-state) .speed-dial-buttons a.theme-bluegray:active,
.theme-bluegray .floating-button.active-state,
.theme-bluegray .speed-dial-buttons a.active-state,
.floating-button.theme-bluegray.active-state,
.speed-dial-buttons a.theme-bluegray.active-state {
  background: #455A64;
}
.theme-bluegray .floating-button i,
.theme-bluegray .speed-dial-buttons a i,
.floating-button.theme-bluegray i,
.speed-dial-buttons a.theme-bluegray i {
  color: inherit;
}
.theme-bluegray .range-slider input[type="range"]::-webkit-slider-thumb:before,
.range-slider.theme-bluegray input[type="range"]::-webkit-slider-thumb:before {
  background-color: #607d8b;
}
.theme-bluegray .range-slider input[type="range"]::-webkit-slider-thumb,
.range-slider.theme-bluegray input[type="range"]::-webkit-slider-thumb {
  background-color: #607d8b;
}
.theme-bluegray .range-slider input[type="range"]::-ms-thumb,
.range-slider.theme-bluegray input[type="range"]::-ms-thumb {
  background-color: #607d8b;
}
.theme-bluegray .range-slider input[type="range"]::-ms-fill-lower,
.range-slider.theme-bluegray input[type="range"]::-ms-fill-lower {
  background-color: #607d8b;
}
.theme-bluegray .range-slider input[type="range"]::-moz-range-thumb,
.range-slider.theme-bluegray input[type="range"]::-moz-range-thumb {
  background-color: #607d8b;
}
.badge.theme-bluegray {
  background-color: #607d8b;
  color: #fff;
}




@media print {
/*
*********************************
* PRINT ONLY STYLES ***
*********************************
*/

/* TAGS */
@page {
  size: A4;
}
 .container,.container-fluid{width:auto;}

html, body{
font-size:14px !important;} /* !important Tags are to overide other CSS when printed */


body {
    font-family: "Roboto",Helvetica,Arial,sans-serif;
    line-height: 14px;
	 margin-bottom: 5px !important;
}
h4{font-size: 1rem}
input[type="checkbox"] ~ label {
    display: none;
}
th, td { white-space: nowrap; }
.input-group-addon2{
margin-bottom: 0;
line-height: 1.25;
text-align: center;
background-color: #ffffff;
border: none;
border-radius: .25rem;}
.footable .form-control.drug{width:100%;}
.hidden-print{display:none !important;}

.text-uppercase {
  text-transform: inherit !important;
  font-weight: bold;
}
div.subtitle {
    margin-top: -2px;
    font-size: 12px !important;
    line-height: 12px !important;
    font-weight: normal;
    font-style: italic;
    display: inline-block !important;
}

input[type="checkbox"][checked="checked"] ~ label {
    display: inline;
}
label.btn:not(.active){display:none;}
.md-form, .md-form .btn{margin-bottom: 0.2rem !important;}
.form-control{margin-top: 0.1rem !important; 
margin-bottom: 0.1rem !important; }
.footable-filtering-search, .bottomAdd{display:none;}



input[type=text]{font-size: 12px; max-width:100%;}


.active .dog path {
  fill: #ffffff;
}

   .col-sm-12{
    width: 100%;
	float: left;
}                             
.col-sm-3{
    width: 25%;
	float: left;
}

td div.col-md-10{width: 125px !important;}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    padding-right: 0px;
    padding-left: 0px;
}
#dosechart tr{}
b.tablesaw-cell-label{display:none;}
.table-sm>tbody>tr>td, .table-sm>tbody>tr>th, .table-sm>tfoot>tr>td, .table-sm>tfoot>tr>th, .table-sm>thead>tr>td, .table-sm>thead>tr>th {
    padding: 2px;
}
.col-sm-12{padding-right: 0px;
    padding-left: 0px;}
.table{font-size:12px !important;margin-bottom:0px;}
.input-group-btn-vertical{display:none; }
form-control{height: 1.2rem !important;} 
.label.label-default{background:#eee; color:#444; border:none; font-weight:normal;font-size:13px;padding: 2px 2px;}
.label.label-success,.label.label-primary,.label.label-info,.label.label-danger,.label.label-warning{
    background:#eee; border:none; color:#444; font-weight:normal; font-size:13px; padding: 2px 2px;}
.label-success{background: #eee;}
#discussion-search, button.calc-dose, #resetme3,#resetme4,#resetme2, #printMe7,#resetme2, #printMe, #printMe8, .species2, .navbar-wrapper, .tooltip, .icon-print, input.print, .page-title, .masthead, footer, .hideme, #adds,#ads,#google_ads_frame2,#adunit, #search, .info,.ts-pager,.input-group-btn-vertical, hr, blockquote{ display:none !important; }
blockquote {
    padding: 2px 0px; 
    margin: 0 0 0px; 
    font-size: 14px;
}
.btn {
    display: inline-block;
    padding: 4px 4px;}
.form-control2 {
display: block;
height: 24px;
font-size: 13px;
line-height: 1.42857143;
color: #555;
background-color: #fff;
background-image: none;
border: none;
border-radius: none;
-webkit-box-shadow: none;
box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
-webkit-transition: none;
-o-transition: none;
transition: none
}
.chip-label{ line-height:13px;}
.tooltip{visibility:hidden;}
#results, #drug, #dosechart2,#main{float:none;}
#main{padding-top: 0px;}
.well,.well-sm{margin-bottom:2px; padding:2px;}

.chip-label(font-weight:bold;)
.container {
    padding-right: 0px !important;
    padding-left: 0px !important;
    }

input2 {
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
  }
/*SHOW PRINT ONLY AREAS*/
#logo-print, #copyright-print, #contact-print {display:block;}


/* DISPLAY ABSOLUTE LINKS */

a[href^="http://"]:after{content: " (" attr(href) ") ";}

a {text-decoration:none;}

td{display: table-cell !important;}

}